body {
  /* -- prefix is used to define custom properties! */
  --color-primary: #182b49;
  --color-primary-dark: #13223a;
  --color-secondary: #00629b;
  --color-error: #cc3333;
  --color-success: #4bb544;
  --border-radius: 4px;

  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background: var(--color-primary);
  background-size: cover;
}


.container {
  width: 500px;
  max-width: 500px;
  margin: 1rem;
  /* rem = unit of base font size */
  padding: 3rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  /* border-radius: var(--border-radius); */
  border-radius: 20px;
  background: #ffffff;
}

.container,
.form__input,
.form__button {
  font: 800 1rem 'Source Sans Pro', sans-serif;
}

/* We will be toggling the existence of form--hidden class depending on what user selects*/
.form--hidden {
  display: none;
}

/* We want the extra margins to get cut off. 
First child = Login title. 
Last child = "Don't have an account?" */
.form > *:first-child {
  margin-top: 0; 
}

.form > *:last-child {
  margin-bottom: 0; 
}

.form__title{
  margin-bottom: 2rem;
  text-align: center;
  color: rgb(65,65,65);
}

.form__message {
  text-align: center;
  margin-bottom: 1rem;
}

.form__message--success {
  color: var(--color-success);
}

.form__message--error {
  color: var(--color-error);
}

/* To create space b/w input forms */
.form__input-group {
  margin-bottom: 1rem;
}

/* Gray color styling for the input boxes */
.form__input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: 1px solid #dddddd;
  outline: none;
  background: #eeeeee;
  transition: background 0.2s, border-color 0.2s; /* Uses autofocus found in index.html */
}

/* To create transition where background of input boxes changes color upon click */
.form__input:focus {
  border-color: var(--color-primary);
  background: #ffffff;
}

.form__input--error {
  color: var(--color-error);
  border-color: var(--color-error);
}

.form__input-error-message {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color:var(--color-error);
}

.form__button {
  width: 100%;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: #ffffff;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--color-primary);
}

.form__button:hover {
  background: var(--color-primary-dark);
}

.form__button:active {
  transform: scale(0.98);
}

.form__text {
  text-align: center;
}

.form__link {
  color: var(--color-secondary);
  text-decoration: none;
  cursor: pointer;
}

.form__link:hover {
  text-decoration: underline;
}

.content {
  max-width: 400px;
  padding: 20px;
  background: #fff;
  text-align: center;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

.content header {
  padding-top: 5px;
  font-size: 27px;
  font-weight: 600;
  line-height: 33px;
}

.content form {
  margin: 20px 27px;
}

.content form .field {
  width: 100%;
  height: 45px;
  display: flex;
  position: relative;
}

form .form__input input {
  width: 100%;
  height: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 18px;
  outline: none;
}

form .error-text {
  position: relative;
  margin: 15px 0 -5px 0;
  background: #e74c3c;
  color: #fceae8;
  font-size: 18px;
  padding: 8px;
  border-radius: 5px;
  display: none;
}

form.error-text:before {
  position: absolute;
  content: '';
  height: 15px;
  width: 15px;
  background: #e74c3c;
  right: 20px;
  top: -7px;
  transform: rotate(45deg);
}


