body {
  margin: 0;
  margin-bottom: 1000px;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Menu bar */
.menu-bar {
  height: 100px;

  background-color: #00629B;

  display: flex;
  flex-direction: row;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: flex-end;
  align-items: center;

  z-index: 200;
}

.menu-item {
  color: whitesmoke;
  padding: 0px 30px 0px 30px;
  transition: color 0.15s,
    opacity 0.15s;
}

.menu-item:hover {
  color: #ffcc33;
}

.menu-item:active {
  opacity: 0.6;
}

.user-pfp {
  height: 70px;
  width: 70px;
  object-position: cover;
  object-fit: center;

  margin-right: 30px;
  border-radius: 35px;
}

/* Content */ 
.content-box {
  background-color: rgb(230,230,230);
  height: 1000px;

  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0;
  padding: 50px 200px 50px 200px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.personal-info-box {
  background-color: whitesmoke;

  border: none;
  border-radius: 20px;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px 30px 40px 30px;
}

.profile-pfp {
  height: 180px;
  width: 180px;
  object-position: cover;
  object-fit: center;
  border-radius: 100px;
}

.personal-info {
  /* background-color: lavender; */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name {
  /* background-color: red; */
  color: #36393f;
  font-size: 50px;
  font-weight: bold;

  margin: 0;
}

.college,
.major-minor {
  /* background-color: orange; */
  color: rgb(130,130,130);
  font-size: 25px;
  font-weight: bold;
  margin: 0 0 12px 0;
}

.personal-info hr.solid {
  /* To-do: Make this divider expand with the width of courses-grid */
  width: 500px;
  border: none;
  border-top: 8px solid #36393f;
  border-radius: 2px;

  margin: 0 0 12px 0;
}

.contact-info-box {
  /* background-color: red; */

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 500px;

  margin: 0;
}

.contact-item {
  /* background-color: orange; */
  width: 250px;
  padding-bottom: 12px;
}

.contact-item-details {
  /* background-color: blue; */
  color: rgb(130,130,130);
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.contact-details {
  color: black;
  font-weight: bold;
}

/* To-do: Shows more contact info if connection request accepted */

.connect-button {
  background-color: #FFCD00;
  color: whitesmoke;
  font-size: 35px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  width: 450px;
  padding: 5px 10px 5px 10px;

  border-style: solid;
  border-color: #FFCD00;
  border-radius: 10px;

  align-self: center;
  margin: 20px 0 20px 0;

  transition: opacity 0.15s;

}

.connect-button:hover {
  opacity: 0.8;
}

.connect-button:active{
  opacity: 0.6;
}

.connected-button {
  background-color: #00629B;
  color: rgb(255,255,255);
  font-size: 35px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  width: 450px;
  padding: 5px 10px 5px 10px;

  border-style: solid;
  border-color: #00629B;
  border-radius: 10px;

  align-self: center;
  margin: 0;

  transition: opacity 0.15s;

}

.connected-button:hover {
  opacity: 0.8;
}

.remove-connection-button:active{
  opacity: 0.6;
}

.courses-info-box {
  display: flex;
  flex-direction: column;
}

.courses-info-section {
  background-color: whitesmoke;

  border: none;
  border-radius: 20px;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 0 0 30px 30px;
  padding: 30px;
}

.section-title {
  font-size: 30px;
  font-weight: 600;
  color: rgb(130,130,130);

  margin: 0 0 5px 0;
}

.courses-info-section hr.solid {
  /* To-do: Make this divider expand with the width of courses-grid */
  width: 700px;
  border: none;
  border-top: 5px solid #36393f;

  margin: 0;
}

.courses-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 15px;

  margin: 20px 0 0 0;
}

.course-item {
  background-color: rgb(130,130,130);

  font-size: 25px;
  font-weight: 600;

  padding: 8px 16px 8px 16px;
  border-radius: 4px;
}

.course-item-tutor {
  /* To-do: Color code to indicate classes that someone feels comfortable tutoring in, change background-color */
  background-color: #00629b;

  font-size: 25px;
  font-weight: 600;

  padding: 8px 16px 8px 16px;
  border-radius: 4px;
}

.course-name {
  color: whitesmoke;
  font-weight: light;
  margin: 0;
}

/* USE THIS SECTION TO CHANGE PAGE COLORS QUICKLY ! :D */
